# other
assignment1_text.txt
# baked and compiled files
/bin
/assets
/lib
/_build_
/.vscode
COMP5892M-vulkan.sln
a12/a12.vcxproj
a12/a12.vcxproj.user
a12/shaders/a12-shaders.vcxproj
a12/shaders/a12-shaders.vcxproj.user
a12-bake/a12-bake.vcxproj
a12-bake/a12-bake.vcxproj.user
labut2/labut2.vcxproj
labut2/labut2.vcxproj.user
third_party/x-glfw.vcxproj
third_party/x-glfw.vcxproj.user
third_party/x-glm.vcxproj
third_party/x-glm.vcxproj.filters
third_party/x-glm.vcxproj.user
third_party/x-rapidobj.vcxproj
third_party/x-rapidobj.vcxproj.user
third_party/x-reflect.vcxproj
third_party/x-reflect.vcxproj.user
third_party/x-stb.vcxproj
third_party/x-stb.vcxproj.user
third_party/x-tgen.vcxproj
third_party/x-tgen.vcxproj.user
third_party/x-vma.vcxproj
third_party/x-vma.vcxproj.user
third_party/x-volk.vcxproj
third_party/x-volk.vcxproj.filters
third_party/x-volk.vcxproj.user
third_party/x-vulkan-headers.vcxproj
third_party/x-vulkan-headers.vcxproj.filters
third_party/x-vulkan-headers.vcxproj.user
third_party/x-zstd.vcxproj
third_party/x-zstd.vcxproj.filters
third_party/x-zstd.vcxproj.user
